In [1]:
import numpy as np
import scipy
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
names =  [f'./clin_400k/clin1.5_0.8_{i}.npz' for i in range(40)]

In [3]:
data = np.load(names[0], allow_pickle = True)['db']

In [4]:
print(list(data[0].keys()))

['structure_params', 'ind_low', 'I_high', 'ind_high']

In [9]:
data[0]['I_high'].shape

(2571,)

In [7]:
data[3]['structure_params']

{'cell_a': 5.6129374165912775,
 'cell_b': 7.296818641568661,
 'cell_c': 9.541993608205171,
 'cell_alpha': 90.0,
 'cell_beta': 109.0,
 'cell_gamma': 90.0,
 'cell_volume': 369.51573693596646,
 'group': 'P 1 21 1 (No. 4)',
 'structure_n_atoms': 11}

In [8]:
#first lets make merged dataset
ind_lows, I_lows = [], []
ind_highs, I_highs = [], []
groups = []
for name in names:
    data = np.load(name, allow_pickle = True)['db']
    for i in range(len(data)):
        ind_lows.append(data[i]['ind_low'])
        #I_lows.append(data[i]['I_low'])
        ind_highs.append(data[i]['ind_high'])
        I_highs.append(data[i]['I_high'])
        groups.append(data[i]['structure_params']['group'])

In [11]:
len(ind_highs[1])

1970

In [14]:
len(ind_lows)

400000

In [12]:
df = pd.DataFrame()

In [13]:
!mkdir clin_1.5_0.8_400k

In [16]:
!mkdir clin_1.5_0.8_400k/data

In [17]:
for i in range(len(ind_lows)):
    np.savez_compressed(f'clin_1.5_0.8_400k/data/{i}', Intensity = I_highs[i], Ind_high = ind_highs[i],
                        Ind_low = ind_lows[i])

In [23]:
train_range = len(ind_lows)//5*4
train_range

320000

In [24]:
filenames = [f'{i}.npz' for i in range(train_range)]

In [25]:
df['filename'] = filenames

In [26]:
df['group'] = groups[:train_range]

In [27]:
df

          filename             group
0            0.npz  P 1 21 1 (No. 4)
1            1.npz  P 1 21 1 (No. 4)
2            2.npz  P 1 21 1 (No. 4)
3            3.npz  P 1 21 1 (No. 4)
4            4.npz   C 1 2 1 (No. 5)
...            ...               ...
319995  319995.npz   C 1 2 1 (No. 5)
319996  319996.npz   C 1 2 1 (No. 5)
319997  319997.npz   C 1 2 1 (No. 5)
319998  319998.npz   C 1 2 1 (No. 5)
319999  319999.npz  P 1 21 1 (No. 4)

[320000 rows x 2 columns]

In [28]:
for i in range(len(groups[:train_range])):
    assert df['group'][i] == groups[i]

In [29]:
df.to_csv('clin_1.5_0.8_400k/train.csv', index = False)

In [31]:
df = pd.DataFrame()

In [32]:
filenames = [f'{i}.npz' for i in range(train_range, len(ind_lows))]

In [33]:
df['filename'] = filenames

In [34]:
df['group'] = groups[train_range:len(ind_lows)]

In [35]:
df

         filename             group
0      320000.npz   C 1 2 1 (No. 5)
1      320001.npz   C 1 2 1 (No. 5)
2      320002.npz   C 1 2 1 (No. 5)
3      320003.npz  P 1 21 1 (No. 4)
4      320004.npz   C 1 2 1 (No. 5)
...           ...               ...
79995  399995.npz   C 1 2 1 (No. 5)
79996  399996.npz  P 1 21 1 (No. 4)
79997  399997.npz  P 1 21 1 (No. 4)
79998  399998.npz   C 1 2 1 (No. 5)
79999  399999.npz  P 1 21 1 (No. 4)

[80000 rows x 2 columns]

In [36]:
df.to_csv('clin_1.5_0.8_400k/val.csv', index = False)